GEMINI_API_KEY="YOUR_GEMINI_API_KEY
GOPLUS_API_KEY=""
HELIUS_API_KEY="-00c2-465b-8a63-d4de333a2db6" # Same as RPC_URL key
BITQUERY_API_KEY="."
RPC_URL=""
PRIVATE_KEY=""

# Telegram Notifications
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# General Bot Settings
MAX_PORTFOLIO_SIZE="4"
HEALTH_CHECK_PORT="3000"
MIN_SOL_BALANCE="0.0005"
JUPITER_PRE_QUOTE_DELAY_MS="2000"
MAX_DEV_WALLET_COUNT="3"
MAX_INITIAL_DEV_SELL_PERCENT="50"

# Vetting Strategy
MIN_LIQUIDITY_USD="20000"
MAX_LIQUIDITY_USD="1000000"
MIN_MARKET_CAP_USD="30000"
MAX_HOLDER_CONCENTRATION_PERCENT="25"
MAX_CONCENTRATED_HOLDERS_COUNT="5" # How many top holders to analyze (excluding LP)

# Trade Sizing Strategy
TRADE_AMOUNT_SOL_GOOD="0.001"
TRADE_AMOUNT_SOL_WARNING="0.001"
TRADE_AMOUNT_SOL_DANGER="0.001"
SLIPPAGE_BPS="5000"

# Risk Management & Stop Loss
TRAILING_STOP_LOSS_PERCENT="5"
STALE_DANGER_COIN_MINUTES="4"
DEEP_LOSS_PERCENT_DANGER="-50"
GLOBAL_STOP_LOSS_USD="-0.70"

# Take Profit Strategy
TAKE_PROFIT_PERCENT_DANGER="7"
TAKE_PROFIT_PERCENT_WARNING="10"
GOOD_TP_1_PERCENT="20"
GOOD_TP_1_SELL_PERCENT="10"
GOOD_TP_2_PERCENT="30"
GOOD_TP_2_SELL_PERCENT="40"
GOOD_TP_3_PERCENT="50"
GOOD_TP_3_SELL_PERCENT="100"

# Delays and Timings
CLOSE_ATA_DELAY_MS="3000"
